*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.container{
    margin:0 auto;
    background-color: #ccc;
    color:#666;
}

section{
    width:100vw;
    height:100vh;
    border-radius:5px;
    text-align: center;
    font-family: sans-serif;
    padding:10vw;
}

.welcome-section{
    display:flex;
    justify-content: center;
    align-items: center;
}

.welcome-about{
    background-color: rgba(255, 255, 255, .3);
    color:white;
    padding:2vw .5vw;
    border:3px solid white;
    border-radius: 10px;
}

.welcome-about p:first-of-type, p:nth-of-type(n){
    padding:0 0 20px 0;
    font-size:1.5rem;
}

.welcome-header{
    font-size:3rem;
    padding-bottom:2rem;
    text-transform: uppercase;
}

.pictures-section{
    background-color: #ddd;
    color:#666;
}